{% include 'header.html' %}

<div class="card shadow m-5">
    <div class="card-body"> 
        <h5 class="p-2" style="border-bottom: 2px solid bisque"> Employee Login </h5>
    
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>
                    </div>
                </div>
        
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
        </div>        
    </div>
</div>

{% if error == "no" %}
<script> 
    alert('Logged in Successfully');
    window.location = ("{% url 'emp_home' %}");
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Invalid Login Credentials. Try Again...');
</script>
{% endif %}
